/*这玩意是css的注释*/
body{
    background-color: black;
    color: white;
    width: 100%;
    min-width: 1500px;
}

nav{
    margin-right: 50px;
    margin-top: 1%;
    font-size: 17px;
}

.Bannerul{
    float: right;
    width: 50%;
    margin-right: 5%;
    list-style-type: none; 
    padding: 0;
    height: auto;
}
ul li{
    float:right;
    margin: 20px;  
    color: white;
    text-align: right;
}

li a{
    display: inline-block;
    width: auto;
    text-decoration: none;
    color:white;
}

li a:hover {
    color: red; /*设置鼠标悬停时的颜色*/
}

nav ul li a.CurrentPage {
    color: red; /*设置导航栏中当前界面按钮的颜色*/
}

.WebLogo {
    float:left;
    margin-left: 20%;
    width: 20%;
    height: auto; /* 保持图片比例 */
}

.MainPageTitle{
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    padding: 10px;
}

.LogoZone{
    float: left;
    width: 29%;
    height: auto;
    margin-top: 1%;
    margin-left: 5%;
}

