/*这玩意是css的注释*/


body{
    background-color: black;
    color: white;
    width: 100%;
    min-width: 1500px;
    overflow-x: hidden;
}

.clear{
    clear: both;
}

nav{
    margin-right: 50px;
    margin-top: 1%;
    font-size: 17px;
}

.Bannerul{
    float: right;
    width: 60%;
    margin-right: 5%;
    list-style-type: none; 
    padding: 0;
    height: auto;
}
.Bannerul li{
    float:right;
    margin: 20px;  
    color: white;
    text-align: right;
}

.Bannerul li a{
    display: inline-block;
    width: auto;
    text-decoration: none;
    color:white;
}

.Bannerul li a:hover {
    transition: 0.3s;
    color: red; /*设置鼠标悬停时的颜色*/
}

nav ul li a.CurrentPage {
    color: red; /*设置导航栏中当前界面按钮的颜色*/
}

.WebLogo {
    float:left;
    margin-left: 20%;
    width: 90px;
    height: auto; /* 保持图片比例 */
}

.MainPageTitle{
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 10rem;
    padding: 10px;
    position: relative;
    animation-name: WorkANi;
    animation-duration: 1.6s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
}

.LogoZone{
    float: left;
    width: 30%;
    height: auto;
    margin-top: 1%;
    margin-left: 5%;
}

.PhotoPageTitle{
    text-align: center;
    float: center;
    width:70%;
    border:red;
    margin: auto; /*让div能居中的重要参数*/
    padding: 0;
    border-style: solid hidden;
}

.parallax {
    background-image: url('image/Work_head.webp');
    height: 550px;
    width: 100%;
  
    /* 创建视差滚动效果 */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Analysis_parallax {
    background-image: url('image/Analysis_Head.webp');
    height: 700px;
    width: 100%;
    text-align: center;
    line-height: 700px;
    /* 创建视差滚动效果 */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .WorkArticle{
    float: center;
    text-align: left;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    height: auto;
    border:30px transparent;
    border-color: rgba(74,73,73,0.8);
    border-style: hidden hidden solid hidden;
  }

  .WorksMainArticle{
    width: 80%; 
    line-height: 30px; 
    font-size: 18px;
    margin-top: 3%;
  }

  .WorksLogo{
    vertical-align:"text-bottom";
  }

  @keyframes WorkANi {
        0% {opacity: 0; margin-left: 30%;}
        100% {opacity: 1;}
  }
 /*动画，但是不用js做不了可是区域再显示动画，弃之*/
  .WorkANIDiv{
    position: relative;
    animation-name: WorkANi;
    animation-duration: 0.9s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
  }



  .WorksButton{
    width: 13%;
    height: 1.9rem;
    border: 5px solid white;
    border-radius: 23px;
    display: inline-block;
    margin-right: 4%;
    text-align: center;
    padding: 0;
    padding-top: 0.6%;
    text-decoration: none;
    color: white;
  }
  
  .WorksButton:hover{
    transition: 0.5s;
    color: black;
    background: white;
  }
  
  .Analysis_BMItem{
    width: 15%;
    text-align: left;
    border: 4px;
    border-style: hidden hidden solid hidden;
    border-color: white;
    margin-left: 0;
    margin-bottom: 5%;
  }

  .Analysis_BMItem img {
    height: 50%;
    margin: auto;
  }

  .Analysis_BMItem p {
    color: #E53726;
    font-size: 20px;
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    letter-spacing: 1%;
  }

  .Analysis_BMItem button{
    background-color:#E53726;
    color: black;
    border: solid;
    padding: 10px 50px;
    cursor: pointer;
    margin-bottom: 7%;
  }

  .Analysis_BMItem button:hover{
    color: #E53726;
    background-color: black;
    transition: 0.3s;
  }

  .SiginalAnalysis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:grey; 
    margin: 20px;
    padding: 20px;
    height: auto;
  }

  .SiginalAnalysis button{
    background-color:#E53726;
    color: black;
    border: solid;
    padding: 5px 50px;
    cursor: pointer;
    margin: 6%;
    margin-left: 8%;
  }

  .SiginalAnalysis button:hover{
    color: #E53726;
    background-color: black;
    transition: 0.3s;
  }

  .SiginalArticle{
    text-align: left;
    width: 70%; 
    height: auto;
    line-height: 30px; 
    font-size: 18px;
    margin-top: 7%;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 50%;
  }

  .SiginalAul{
    width: 50%;
    top: 10%;
    display: flex;
    flex-direction: column;
    list-style-type:circle;
    text-decoration: none;
  }

  .SiginalAul a li{
    width: 50%;
    text-align: left;
    margin: 3%;
    border: 3px;
    border-style: hidden hidden solid hidden;
    padding: 5px;
    font-size: 24px;
    text-decoration: none;
    color: white;
  }

  .SiginalAul a{
    text-decoration: none;
  }

  .SiginalAul li:hover{
    border-color: #E53726;
    color: #E53726;
    transition: 0.3s;
  }

  .resumeButton{
    background-color:#E53726;
    color: black;
    border: solid;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 3%;
  }

  .resumeButton:hover{
    color: #E53726;
    background-color: black;
    transition: 0.3s;
  }

  .MainPageButton{
    float: right;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(199,59,56);;
    border-radius: 50%;
    margin: auto;
    margin-right: 17rem;
    margin-top: 8rem;
    background-color: white;
    opacity: 0;
  }

  .MainPageButton:hover{
    transition: 0.3s;
    background-color: black;
  }

  @keyframes HeroButton{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .HeroButtonAnim{
    animation-name: HeroButton;
    animation-duration: 0.3s;
    animation-delay: 3s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
  }

